<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Top bar -->
	<title>EM- Event Management</title>
	<link rel="shortcut icon" href="/images/img/calendar.png" />

	<!-- Style's -->
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
</head>

<!-- Main nav bar -->
<body class="d-flex flex-column min-vh-100">
	<header class="p-3 bg-dark text-white">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li><a href="/" class="nav-link px-2 text-white">Home</a></li>
					<li><a href="/event/list" class="nav-link px-2 text-secondary">Promoter</a></li>
					<li><a href="/aboutUs" class="nav-link px-2 text-white">About Us</a></li>
				</ul>

				<div class="text-end">
					<a href="/logout"><button type="button" class="btn btn-outline-danger me-2">Logout</button></a>
				</div>
			</div>
		</div>
	</header>

	<!-- Promoter nav bar -->
	<nav class="navbar navbar-light bg-light">
		<div class="container justify-content-center">
			<legend class="text-center">Manage your locations</legend>
			<a href="/event/list" class="btn btn-sm btn-outline-primary me-2">&ltPrevious</a>
			<a href="/eventLocation/create" class="btn btn-sm btn-primary me-2">Create location</a>
		</div>
	</nav>

	<!-- Event's locations list -->
	<div class="container">
		<% if (eventLocations.length>0) { %>
			<table class="table mt-4">
				<thead class="thead-dark">
					<tr>
						<th class="content">Name</th>
						<th class="content">Capacity</th>
						<th class="content">Event Location</th>
						<th class="content"></th>
						<th class="content"></th>
					</tr>
				</thead>
				<tbody>
					<% eventLocations.forEach((eventLocation)=> { %>
						<tr>
							<td>
								<%= eventLocation.name%>
							</td>
							<td>
								<%= eventLocation.capacity%>
							</td>
							<td>
								<a href="/eventLocation/view/<%= eventLocation._id%>">
									<%= eventLocation.address.city.name%>
								</a>
							</td>
							<td>
								<a href="/eventLocation/edit/<%= eventLocation._id%>"><button
										class="btn btn-secondary">EDIT</button>
								</a>
							</td>
							<td>
								<form action="/eventLocation/delete/<%= eventLocation._id%>" method="post">
									<button class="btn btn-danger" type="submit">DELETE</button>
								</form>
							</td>
						</tr>
						<% }) %>
				</tbody>
			</table>
			<% } else { %>
				<h6 class="text-center">You have dont have Event Location</h6>
				<% } %>
	</div>

	<!-- Line breaker -->
	<hr class="solid" />

	<!-- Footer -->
	<footer class="footer mt-auto py-3 bg-dark">
		<div class="container">
			<div class="row">
				<div class="col align-self-start">
					<h5 class="white">Check our social media:</h5>
					<a href="https://www.facebook.com"><i class="bi-facebook"></i></a>
					<a href="https://www.instagram.com/?hl=en"><i class="bi-instagram"></i></a>
					<a href="https://twitter.com"><i class="bi-twitter"></i></a>
					<a href="https://www.youtube.com"><i class="bi-youtube"></i></a>
					<a href="https://github.com"><i class="bi-github"></i></a>
				</div>
				<div class="col align-self-center">
					<h5 class="white">Subscribe here to our Newsletter:</h5>
					<div class="form-floating mb-3 col-10">
						<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
						<label for="floatingInput">Email address</label>
					</div>
				</div>
				<div class="col align-self-end">
					<h5 class="white">Info:</h5>
					<ul class="white">
						<li><a href="#" class="link-secondary">Policy and privacy</a></li>
						<li><a href="#" class="link-secondary">Terms and conditions</a></li>
						<li><a href="#" class="link-secondary">Cookies</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
	<script src="/javascripts/index.js"></script>
</body>
</html>